<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <h1>some error ocurred</h1>
            <p>we are working on the solution , excuse us for the inconvenience</p>

            <%- include('includes/end.ejs') %>